* {
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(69, 84, 73);
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 1em;
    width: 8em;
}

ul {
    list-style-type: none;
    background-color: transparent;
}

li {
    display: inline;
}

li a {
    margin: 1em;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    color: black;
}

li a:hover {
    background-color: red;
    border-radius: 10px;
}

.BestFilm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.BestFilm__image {
    width: 20em;
    border-radius: 10px;
    border: 5px solid black;
}

.BestFilm__moreInfo {
    border-radius: 10px;
    position: relative;
    bottom: 150px; 
}

.BestFilm__titre {
    position: relative;
    bottom: 150px;
    background-color: azure;
    opacity: 0.7;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-container {
    width: 95%;
    margin: 50px auto;
    background-color: rgb(69, 84, 73);
    position: relative;
}


.carousel-container .carousel-inner {
    /* display: flex; */
    overflow: hidden;
    /* flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px; */
}

.carousel-container .carousel-inner .track {
    /* border: 1px solid black; */
    display: flex;
    /* overflow: hidden; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s;
    flex-shrink: 0;
    

}

.carousel-container .card-container {
    flex-basis: 450px;
}

.carousel-container .card-container .card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-right: 20px;
    box-sizing: border-box;
}

.nav button{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.nav .prev {
    left: -30px;
}

.nav .next {
    right: -30px;
}