header {
    background-color: rgb(82, 79, 79);
    color: white;
    justify-content: center;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
}

nav a {
    border: 1px solid black;
    margin: 1em;
}

header img {
    width: 10%;
}