* {
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
    
}

header {
    background-color: rgb(69, 84, 73);
    width: 90%;
    position: sticky;
    top: 0px;
    z-index: 1;
    border: 5px solid black;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 1em;
    width: 8em;
}

ul {
    list-style-type: none;
    background-color: transparent;
}

li {
    display: inline;
}

li a {
    margin: 1em;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    color: black;
}

li a:hover {
    background-color: red;
    border-radius: 10px;
}

.bestFilmParameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.bestFilmParameters__image {
    width: 20em;
    border-radius: 10px;
    border: 5px solid black;
}

.bestFilmParameters__image:hover {
    opacity: 0.5;
  }

.best__moreInfo {
    border-radius: 10px;
    position: relative;
    bottom: -450px; 
    cursor: pointer;
}

.bestFilmParameters__titre {
    position: relative;
    bottom: 150px;
    background-color: azure;
    opacity: 0.7;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

#categories {
    height: 150px;
}

#bestfilm {
    height: 150px;
}


[class*="divfilmCategory"]{
    width: 1100px;
    height: 400px;
    margin: 50px auto;
    background-color: rgb(69, 84, 73);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}

[class*="divfilmCategory"] h1 {
    position: absolute;
    top: -4%;

}

[class$="__carouselContainer"] {
    display: flex;
    width: 1080px;
    /* background-color: rgb(163, 32, 71); */
    overflow: hidden;
    scroll-behavior: smooth;
}

/* .carouselContainer__card */
[class*="carouselContainer__card"] {
    min-height: 350px;
    max-height: 350px;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card__image {
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card__image img {
    border-radius: 10px; 
    cursor: pointer;
}

.card__image img:hover {
    opacity: 0.5;
  }

.card__titre{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
}

[class$="_btns"] button{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: 1px solid black;
    position: absolute;
    top: 45%;
    cursor: pointer;
}

[class$="__prevBtn"] {
    left: -30px;
}

[class$="__nextBtn"] {
    right: -30px;
}

 /* The Modal (background) */
 /* .modal  */
 [class^="modal"]{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  /* .best__modal-content */
  [class$="__modal-content"] {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  [class$="__modal-content"] img{
    float: left;
    width: 20%;
    margin: 20px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
